body {
    background-color: rgb(204, 204, 249);
}

#question1-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#question2-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

#question3-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.question-wrapper {
    background-color: white;
    padding: 30px;
    display: flex;
    height: 60%;
    width: 60%;
    flex-direction: column;
    border-radius: 15px;
    margin: 0;
}

#prev-btn {
    position: absolute;
    bottom: 5%;
    left: 5%;
    height: 5%;
    width: 15%;
}

#next-btn {
    position: absolute;
    bottom: 5%;
    right: 5%;
    height: 5%;
    width: 15%;
}

h2 {
    color: rgb(134, 98, 253);
    margin: 0;
    padding: 0;
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    margin: 0;
    width: auto;
    margin-bottom: 30px;
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

input {
    margin: 2% 3%;
}

img {
    padding: 0;
    margin: 0;
}

.question {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0;
}

.button-wrapper {
    margin: 7% 0;
    height: 50px;
}

button {
    border-radius: 15px;
    height: 100%;
    width: 23%;
    font-size: 18px;
    border-style: none;
    background-color: rgb(134, 98, 253);
    color: white;
}

button:hover {
    background-color: white;
    color: rgb(134, 98, 253);
}

#score-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 24px;
    visibility: visible;
}

#score-p {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(134, 98, 253);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#wrong {
    font-family: 'Raleway', sans-serif;
    color: red;
}

#correct {
    font-family: 'Raleway', sans-serif;
    color: green;
}

ul {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}
  